﻿<!DOCTYPE html>
<html ng-app="aramcoApp">
<head>
    
	<meta charset="utf-8" />
	
    <!-- CSS Includes-->
	<link rel="stylesheet" href="assets/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="assets/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="assets/css/mobile-angular-ui-migrate.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <!--
    <link rel="stylesheet/less" type="text/css" href="assets/css/style.less" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
	-->
	<link rel="stylesheet" href="assets/css/style.css" /> 
	
	<!-- CSS Includes-->
  	
	<!-- JS Includes -->
    
    <!-- Libraries -->
    <script src="assets/js/angular.min.js"></script> 	
    <script src="assets/js/angular-route.min.js"></script>
	<script src="assets/js/ng-storage.js"></script>
	<script src="assets/js/ng-cordova.min.js"></script>
	<script src="assets/js/mobile-angular-ui.min.js"></script>
	<script src="assets/js/mobile-angular-ui.gestures.min.js"></script>
	<script src="assets/js/mobile-angular-ui.core.min.js"></script>
	<script src="assets/js/mobile-angular-ui.migrate.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.14.3.min.js"></script>

	<!-- Libraries -->

	<!-- Common Js-->
	<script src="common/app.module.js"></script>
	<script src="common/app.config.js"></script>
	<script src="common/app.constants.js"></script>
	<!-- Common Js-->

	<!-- Service --> 
	<script src="services/event.js"></script>
	<!-- Service --> 

	<!-- Controllers -->
	<script src="controllers/masterpin.js"></script>
	<script src="controllers/home.js"></script>
	<script src="controllers/changepin.js"></script>
	<!-- Controllers -->

	<!-- Set Up Mode Controllers -->
	<script src="controllers/login.js"></script>
	<script src="controllers/recruitersarea.js"></script>
	<script src="controllers/events.js"></script>
	<!-- Set Up Mode Controllers -->

	<!-- Event Mode Controllers -->
	<script src="controllers/homeeventmode.js"></script>
	<script src="controllers/jointc.js"></script>
	<script src="controllers/registration.js"></script>
	<script src="controllers/candidate.js"></script>
	<!-- Event Mode Controllers -->

	<script src="cordova.js"></script>
	<script src="app.js"></script>
	<script src="index.js"></script>
    
	<!-- JS Includes -->
  	
</head> 
<body>
	<div class="app" id="app">
		 <div class="navbar navbar-app navbar-absolute-top top-fixed-bar">
			<div class="col-xs-12 top-bar">
			  <div class="col-xs-4">
				<div class="header-title" id="header-title"> 

					
				</div>
			  </div>
			  <div class="col-xs-4">
				  <div class="mode-pad">
					  
					  <span ng-show="headermode == 'event'">
						   <span class="mode "></span>
							<div class="btn-group block-center">
                                <label class="btn btn-primary togglebtn togglebtn-head" ng-model="headermode" uib-btn-radio="'setup'" ng-click="changemode()">Set Up</label>
								<label class="btn btn-primary togglebtn togglebtn-head" ng-model="headermode"  uib-btn-radio="'event'" ng-click="changemode()">Event</label>
							</div>
							<span class="mode event"></span>
					   </span>

					   <span ng-show="headermode == 'setup'">
						   <span class="mode setup"></span>
							<div class="btn-group block-center" >
                                <label class="btn btn-primary togglebtn togglebtn-head" ng-model="headermode" uib-btn-radio="'setup'" ng-click="changemode()">Set Up</label>
                                <label class="btn btn-primary togglebtn togglebtn-head" ng-model="headermode" uib-btn-radio="'event'" ng-disabled="!event_exists" ng-click="changemode()">Event</label>
							</div>
							<span class="mode"></span>
					   </span>
					  
					</div>
			  </div>
			  <div class="col-xs-4">
					<img src="assets/img/logo.png" class="logo-position">
			  </div>
		     </div>
			 
			 <div class="subheader col-xs-12" ng-show="subheader">
				<div class="sub-title" id="sub-title"> 	
				</div>
			 </div>
		  </div>
		
		 <div class="app-body">
				<ng-view class="app-content"></ng-view>
		</div>
	</div>
	
</body>
</html>
	
