<div class="scrollable">
  	<div class="scrollable-content bg-image-2">
		<div class="clearfix">&nbsp;&nbsp;</div>
		<span class="col-xs-12" ng-show="!viewLoading">
		<div class="candidate-page" >
			<table class="table table-striped table-bordered table-content candidate-detail "> 
					<tr>
						<td class="table-caption">First Name</td>
						<td>{{candidateinfo.candidate_firstname}}</td>
					</tr>
					<tr>
						<td class="table-caption">Last Name</td>
						<td>{{candidateinfo.candidate_lastname}}</td>
					</tr>
					<tr>
						<td class="table-caption">Email Address</td>
						<td>{{candidateinfo.candidate_email}}</td>
					</tr>		
					<tr>
						<td class="table-caption">Area Of Interest</td>
						 <td>{{candidateinfo.candidate_interest}}</td>
					</tr>
					<tr>
						<td class="table-caption">Current Employer</td>
						<td>{{candidateinfo.candidate_employername}}</td>
					</tr>
					<tr>
						<td class="table-caption">Current Job Title</td>
						<td>{{candidateinfo.candidate_jobtitle}}</td>
					</tr>
					<tr>
						<td class="table-caption">Mobile Number</td>
						<td>{{candidateinfo.candidate_mobileno}}</td>
					</tr>
					<tr>
						<td class="table-caption">Profile Summary</td>
						<td>{{candidateinfo.candidate_profilesummary}}</td>
					</tr>
			</table>
			
			<div class="clearfix"></div>

			<div class="form-group actions">
				<button type="button" class="btn btn-success candidate-detail-btn" ng-click="attendance()"><i class="fa fa-check-square-o"></i>  Confirm Attendance</button>
				<a class="btn btn-success candidate-detail-btn" href="#/jointc/{{candidateinfo.id}}"><i class="fa fa-edit"></i>&nbsp;&nbsp; Edit Details</a>
			</div>
			
		</div>
		
		</span>
		<div class="loader-div" ng-show="viewLoading">
				<img src="assets/img/loading.gif">
		</div>
	</div>
</div>
