<!-- Modal Box-->
<script type="text/ng-template" id="changepin.html">
	<div class="modal-header">
			<h3 class="modal-title"> Change Pin
            </h3>
	</div>
		<div class="modal-body">
			
			<form  name="changepinform" role="form" novalidate>
				
				<div class="form-group">
					<label>Old Pin</label>
					<input type="password" class="form-control" id="old_pin" name="old_pin" placeholder="* Old Pin" ng-model="formInfo.old_pin" ng-required="true">	  
					<span  class= "inputerror" ng-show="changepinform.old_pin.$touched && changepinform.old_pin.$error.required">Please Enter Old Pin</span>  
				</div>
				
				<div class="form-group">
					<label>New Pin</label>
					<input type="password" class="form-control" id="new_pin" name="new_pin" placeholder="* New Pin" ng-model="formInfo.new_pin" ng-required="true" >	  
					<span  class= "inputerror" ng-show="changepinform.new_pin.$touched && changepinform.new_pin.$error.required">Please Enter New Pin</span>  
				</div>	
				
				<div class="form-group">
					<label>Confirm New Pin</label>
					<input type="password" class="form-control" id="confirm_new_pin" name="confirm_new_pin" placeholder="* Confirm New Pin" ng-model="formInfo.confirm_new_pin" ng-required="true" >	  
					<span  class= "inputerror" ng-show="changepinform.confirm_new_pin.$touched && changepinform.confirm_new_pin.$error.required">Please Re-Enter New Pin</span>  
				</div>		
				
				<div class="form-group">
					<button class="btn btn-green btn-change changepin-button btn-radius"  ng-click="change()" ng-disabled="changepinform.$invalid">Change</button> 
					<button class="btn btn-red changepin-button btn-radius" type="button" ng-click="cancel()">Cancel</button>
				</div>			
				
			</form>
		</div>
		
</script>
<!-- Modal Box --> 


