<!-- Caution -->
<script type="text/ng-template" id="caution.html">
	<div class="modal-body">
		<p>There is un-synced data of existing event. Please syncronize the data first before downloading  a new event.<br><br>Reset the App to delete all data. <br><br><span class="caution">Caution: You will loose all data by reseting the App </span></p>
		
        <div><button class="btn btn-green btn-action btn-radius"  ng-click="reset()" >Reset</button> 
		<button class="btn btn-red btn-action btn-radius" type="button" ng-click="cancel()">Cancel</button>
	    </div>
        </div>
</script>
<!-- Caution -->
		
<!-- Device Pin-->
<script type="text/ng-template" id="devicepin.html">
	<div class="modal-header">
		<h4 class="margin-header">Please enter Device Pin</h4>
	</div>
	<div class="modal-body">
		<p> Are you sure you want to reset the App ? <br> <span class="caution">Caution: You will loose all data by reseting the App</span> </p>
		
		<form  name="pinform" role="form" novalidate>
			
			<div class="form-group pinform-group">
				<label>Enter the Application Pin</label>
				<input type="password" class="form-control inputs inputtext-radius" id="application_pin" name="application_pin" placeholder="* Application Pin" ng-model="application_pin" ng-required="true" >	  
				<span  class= "inputerror" ng-show="pinform.application_pin.$touched && pinform.application_pin.$error.required">Please Enter Application Pin</span>  
			</div>
			<div class="clearfix">&nbsp;&nbsp;</div>
			<button class="btn btn-green btn-action"  ng-click="downloadevent()" ng-disabled="pinform.$invalid || dataLoading">Reset</button> 
			<button class="btn btn-red btn-action" type="button" ng-click="cancel()" ng-disabled="dataLoading">Cancel</button>
			<span ng-show="dataLoading"> Loading...</span>
		</form>
		
	</div>
</script>
<!-- Device Pin-->
		
