<div class="scrollable">
  	<div class="scrollable-content bg-image-2">
			<span ng-show="!viewLoading" class="col-xs-12">
				
				<div class="input-group form-group padding-bottom" ng-show="(events).length != 0" id="searchbar">
                     <span class="col-xs-9 nopadding-left ">
					<input type="text" id="search" class="form-control inputs eventsearch-text search-height" ng-model="search.EventName" placeholder ="Search Event"/>
					</span>
                      <span class="col-xs-3 nopadding-right"><span class="input-group-addon events-addon search-button">
                      <i class="fa fa-search padding-right-11px search-font-size"></i><font class="search-font-size">Search</font> 
					</span>
                    </span>
				</div>
				
				
				
				<table class="table table-striped table-bordered table-content events-page" ng-show="(events).length != 0"> 
					<tr>
						<th><i class="fa fa-calendar-o">&nbsp;&nbsp;</i>Event Name</th>
						<th><i class="fa fa-calendar">&nbsp;&nbsp;</i>Event Date</th>
						<th><i class="fa fa-map-marker">&nbsp;&nbsp;</i> Event Location</th>
						<th><i class="fa fa-download">&nbsp;&nbsp;</i>Action</th>
					</tr>
					<tr ng-repeat = "event in events | filter:search:strict">
						<td><strong>{{event.EventName}}</strong> </td>
						<td>{{event.EventStartDate}}</td>
						<td> {{event.EventLocation}}</td>
						<td class="text-center"><button type="button" class="btn btn-green" ng-click="download(event)">Download</button></td>
					</tr>
				</table>
				
				<div class="alert alert-danger col-xs-12" class="nodata" ng-show="(events).length == 0">Sorry, No Events Found.</div>	
			</span>
		
			<div class="loader-div" ng-show="viewLoading">
					<img src="assets/img/loading.gif">
			</div>	
	
		   <!-- Modal Box -->
		   <div ng-include="'views/download.html'"></div>
		   <!-- Modal Box -->		
		
	</div>
</div>

