<div class="scrollable">
  	<div class="scrollable-content bg-image-2">
        <span ng-show="!viewLoading">
		<div class="event-home">
			
			<div class="form-group">
				<div class="col-xs-12">
					<div class="input-group">
						<!--<span id="sizing-addon1" class="input-group-addon"><i class="fa fa-users"></i></span>-->
                        <a class="btn btn-primary btn-block form-control input-group-component" ng-href="#/registration/all"><i class="fa fa-users set-fa-icons"></i>Check-in</a>
                        <!--<span type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="redownload()"><i class="fa fa-download set-fa-icons"></i>Re-Download</span>-->
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-12">
					<div class="input-group">
						<!--<span id="sizing-addon1" class="input-group-addon"></span>-->
						<a class="btn btn-primary btn-block form-control input-group-component" ng-href="#/jointc/0"><i class="fa fa-plus-circle set-fa-icons"></i>Join Talent Community</a>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-12">
					<div class="input-group">
						<!--<span id="sizing-addon1" class="input-group-addon"></span>-->
						<button type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="openlinkedin()"><i class="fa fa-linkedin set-fa-icons"></i>Join via Linked-in</button>
					</div>
				</div>
			</div>	
		</div>
		</span>
		
		<div class="loader-div" ng-show="viewLoading">
				<img src="assets/img/loading.gif">
		</div>
		
	</div>
</div>

