<div class="scrollable">
  	<div class="scrollable-content bg-image">
		 <div class="login-page">
			 
			<form  name="loginform" role="form" novalidate ng-submit="login()"  ng-show="!viewLoading">

				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group">
							<input type="text"  class="form-control inputs input-group-component" id="username" name="username" placeholder="Enter Username" ng-model="formInfo.username" ng-required="true" >	
						</div>
						<div class= "inputerror" ng-show="loginform.username.$touched && loginform.username.$error.required">Please enter Username</div>  
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group">
							<input type="password"  class="form-control inputs input-group-component" id="password" name="password" placeholder="Enter Password" ng-model="formInfo.password" ng-required="true" >	
						</div>
						<div class= "inputerror" ng-show="loginform.password.$touched && loginform.password.$error.required">Please enter Password</div>  
					</div>
				</div>	

				<div class="form-group">
					<div class="remember">
						<input type="checkbox" ng-model="formInfo.remember"> Remember Me
					</div>
				</div>
				
				<div class="form-group">
                    <div class="col-xs-4 nopadding-right">
                        <div class="remember">
                            <button type="button" class="btn btn-primary loginbtn btn-radius" ng-click="open()"> Change Pin</button>
                        </div>
                    </div>
					<div class="col-xs-8">
						<div class="input-group">							
							<button type="submit" class="btn btn-primary btn-block form-control input-group-component" ng-disabled="loginform.$invalid || dataLoading">Login</button>
						</div>
					</div>

				</div>	
				

				<div class="clearfix"></div>
				
				
				
				
			</form>
			 
		<div class="loader-div" ng-show="viewLoading">
				<img src="assets/img/loading.gif">
		</div>	
		
  		
  		<!-- Modal Box -->
  		<div ng-include="'views/changepin.html'"></div>
  		<!-- Modal Box -->
		
		</div>
		
	</div>
</div>
