<div class="scrollable">
  	<div class="scrollable-content bg-image-2">
        <div class="jointc">
			<form name="tcform" role="form" novalidate ng-submit="join()" >


					<div class="col-xs-12 txt-center  blue-text mg-bottom">
						<label class="control-label join-title" ><h3> Join Talent Community for {{$storage.current_event.event_name}}</h3></label>
					</div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3">
						   <label class="control-label form-label">First Name <font class="red-text">*</font></label>	
						</div>
						<div class="col-xs-7">
							<input type="text"  class="form-control inputs inputtext-radius" id="first_name" name="first_name" placeholder="Enter First Name" ng-model="formInfo.first_name" ng-required="true" >
							<div class= "inputerror" ng-show="tcform.first_name.$touched && tcform.first_name.$invalid">Please enter First Name</div>  
						</div>
						<div class="col-xs-2"></div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3">
						   <label class="control-label form-label">Last Name <font class="red-text">*</font></label>	
						</div>
						<div class="col-xs-7">
							<input type="text"  class="form-control inputs inputtext-radius" id="last_name" name="last_name" placeholder="Enter Last Name" ng-model="formInfo.last_name" ng-required="true" >
							 <div class= "inputerror" ng-show="tcform.last_name.$touched && tcform.last_name.$invalid">Please enter Last Name</div>  
						</div>
						 <div class="col-xs-2"></div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3">
						   <label class="control-label form-label">Email Address <font class="red-text">*</font></label>	
						</div>
						<div class="col-xs-7">
							<input type="email"  class="form-control inputs inputtext-radius" id="email_address" name="email_address" placeholder="Enter Email Address" ng-model="formInfo.email_address" ng-required="true" >
							 <div class= "inputerror" ng-show="tcform.email_address.$touched && tcform.email_address.$invalid">Please enter valid Email Address</div>
						</div>
						 <div class="col-xs-2"></div>

					</div>
				</div>

				<div class="clearfix"></div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3">
						   <label class="control-label form-label ">Area Of Interest <font class="red-text">*</font></label>	
						</div>
						<div class="col-xs-7">
							<select class="form-control inputtext-radius" name ="area_interest"  ng-model="formInfo.area_interest" ng-options="area_interest.AreasOfInterestId as area_interest.AreasOfInterestDescription for area_interest in $storage.areas_interest " required>
								<option value="">Select Area Of Interest</option> 
							</select>
							<div class= "inputerror" ng-show="tcform.area_interest.$touched && tcform.area_interest.$invalid">Please Enter Area Of Interest</div>
						</div>
						 <div class="col-xs-2"></div>
					</div>
				</div>

				<div class="clearfix"></div>

				<span ng-show="additionalinfo">
				<div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3">
						   <label class="control-label form-label">Current Employer </label>	
						</div>
						<div class="col-xs-7">
							<input type="text"  class="form-control inputs inputtext-radius" id="current_employer" name="current_employer" placeholder="Enter Current Employer" ng-model="formInfo.current_employer" >
						</div>
						<div class="col-xs-2"></div>

					</div>
				</div>

				<div class="clearfix"></div>

				 <div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3">
						   <label class="control-label form-label">Current Job Title </label>	
						</div>
						<div class="col-xs-7">
							<input type="text"  class="form-control inputs inputtext-radius" id="job_title" name="job_title" placeholder="Enter Job Title" ng-model="formInfo.job_title" >
						</div>
						<div class="col-xs-2"></div>
					</div>
				</div>

				 <div class="clearfix"></div>

				 <div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3">
						   <label class="control-label form-label">Mobile Number </label>	
						</div>
						<div class="col-xs-7">
							<input type="tel"  class="form-control inputs inputtext-radius" id="mobile_number" name="mobile_number" placeholder="Enter Mobile Number" ng-model="formInfo.mobile_number" >
						</div>
						<div class="col-xs-2"></div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="form-group">
					<div class="col-xs-12">
                         <div class="col-xs-3">
						   <label class="control-label form-label">Profile Summary </label>	
						 </div>
                            <div class="col-xs-7">
                                <textarea class="form-control inputs inputtext-radius" rows="5" id="profile_summary" name="profile_summary" placeholder="Enter Profile Summary" ng-model="formInfo.profile_summary"></textarea>
                            </div>
                        <div class="col-xs-2"></div>
                        </div>
				</div>
				</span>

				 <div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3"></div>
						<div class="col-xs-7">
							<div class="checkbox">
								<label><input type="checkbox" ng-model="formInfo.event_join" ng-checked="formInfo.event_join">Join Community for {{$storage.current_event.event_name}}</label>
							</div>
						</div>
						<div class="col-xs-2"></div>
					</div>
				</div>



				<div class="clearfix"></div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-3"></div>

						<div class="col-xs-7">
							 <button ng-show="!additionalinfo" type="button" class="btn btn-blue join-btn btn-radius" ng-click="showadditional()" > Continue</button>
							<button type="submit" class="btn btn-green join-btn btn-radius" ng-disabled="tcform.$invalid" ng-click="submitTheForm()">  Submit</button>
							<button type="button" onclick="goback()" class="btn  btn-red join-btn btn-radius" ><i class="fa fa-close"></i>  Discard</a>
							<!--<a href="#/registration" class="btn btn-red join-btn btn-radius" > Discard</a>-->
						</div>
					</div>
				</div> 


			</form>
		</div>
	</div>
</div>

