<div class="scrollable">
  	<div class="scrollable-content bg-image">
		
       <div class="home-page">
			<form  name="pinform" role="form" novalidate ng-submit="checkpin()">
				
			    <div class="col-xs-12 home-btn-group">
					 <span ng-class="{setup : mode == 'Setup'}" class="loginmodes"></span>
					 <div class="btn-group block-center">
						<label class="btn btn-primary togglebtn" ng-model="mode" uib-btn-radio="'Setup'">Setup</label>
						<label class="btn btn-primary togglebtn" ng-model="mode" uib-btn-radio="'Event'" ng-disabled="!current_event">Event</label>
					 </div>
					 <span ng-class="{event : mode == 'Event'}" class="loginmodes"></span>
				</div>
				
				<div class="clearfix"></div>
				
				 <div class="form-group">
                  <div class="col-xs-12">
                    <div class="input-group padding-bottom" >
                        
                        <input type="password"  class="pin-control inputs input-group-component" id="pin" name="pin" placeholder="Enter Pin" ng-model="formInfo.pin" ng-required="true"  style=" ">
                    </div>
                    <div class= "inputerror" ng-show="pinform.pin.$touched && pinform.pin.$error.required">Please Enter Pin</div> 
                  </div>
                 </div>

				
				<div class="col-xs-12">
					<center>
					<button type="submit" class="btn btn-primary btn-block"  disabled ng-show="pinform.$invalid"><span class="unlock-text">Unlock</span></button>
					<button type="submit" class="btn btn-primary btn-block" ng-show="pinform.$valid"><span class="unlock-text">Unlock</span></button>
					<br>
					<a ng-click="openmasterpin()"> Forgot Pin ?</a>
					</center>
				</div>
				
				<!-- Modal Box -->
				<div ng-include="'views/masterpin.html'"></div>
				<!-- Modal Box -->
				
			</form>
		</div>
		
	</div>
</div>

