<!-- Modal Box-->
<script type="text/ng-template" id="masterpin.html">
	<div class="modal-header">
			<h3 class="modal-title">Forgot Pin </h3>
	</div>
		<div class="modal-body">
			
			<form  name="masterpinform" role="form" novalidate>
				<div class="form-group">
					<label>Kindly contact administrator for Master Pin.</label>
				</div>
				
				<div class="form-group">
					<label>Master Pin</label>
					<input type="password" class="form-control" id="master_pin" name="master_pin" placeholder="* Master Pin" ng-model="formInfo.master_pin" ng-required="true">	  
					<span  class= "inputerror" ng-show="masterpinform.master_pin.$touched && masterpinform.master_pin.$error.required">Please Enter Master Pin</span>  
				</div>
				
				<div class="form-group">
					<label>New Pin</label>
					<input type="password" class="form-control" id="new_pin" name="new_pin" placeholder="* New Pin" ng-model="formInfo.new_pin" ng-required="true" >	  
					<span  class= "inputerror" ng-show="masterpinform.new_pin.$touched && masterpinform.new_pin.$error.required">Please Enter New Pin</span>  
				</div>	
				
				<div class="form-group">
					<label>Confirm New Pin</label>
					<input type="password" class="form-control" id="confirm_new_pin" name="confirm_new_pin" placeholder="* Confirm New Pin" ng-model="formInfo.confirm_new_pin" ng-required="true" >	  
					<span  class= "inputerror" ng-show="masterpinform.confirm_new_pin.$touched && masterpinform.confirm_new_pin.$error.required">Please Re-Enter New Pin</span>  
				</div>		
				
				<div class="form-group">
					<button class="btn btn-green btn-change changepin-button btn-radius"  ng-click="change()" ng-disabled="masterpinform.$invalid">Reset</button> 
					<button class="btn btn-red changepin-button btn-radius" type="button" ng-click="cancel()">Cancel</button>
				</div>			
				
			</form>
			
		</div>
		
		
		
</script>
<!-- Modal Box --> 



