<div class="scrollable">
  	<div class="scrollable-content bg-image-2">
		
		<span ng-show="!viewLoading">
			<div class="recruiter-page">

				<span ng-show="$storage.current_event">
					<div class="col-xs-12 text-center"></div>
					<div class="clearfix"> &nbsp;</div>
					<div class="col-xs-12"> 
						<table class="table table-striped table-bordered table-curved">
							<tr>
								<td colspan="2" class="event-title">Current Event</td>
							</tr>
							<tr>
								<td class="table-caption">Name</td>
								<td class="table-data">{{$storage.current_event.event_name}}</td>
							</tr>
							<tr>
								<td class="table-caption">Location</td>
								<td class="table-data">{{$storage.current_event.event_location}}</td>
							</tr>
							<tr>
								<td class="table-caption">Date</td>
								<td class="table-data">{{$storage.current_event.event_startdate}}</td>
							</tr>
							<tr>
								<td class="table-caption">Sync Status</td>
								<td class="table-data"><span class="event-desc">{{pending}} / {{total}}</span></td>
							</tr>
							<tr ng-show="syncerror != 0">
								<td class="table-caption">Sync Error</td>
								<td class="table-data"><a href="#/registration/pending">View Detail ({{syncerror}})</a></span></td>
							</tr>
						</table>
					</div> 
				</span>

				<span ng-show="!$storage.current_event">
					<div class="form-group">
						<div class="col-xs-12 text-center no-event">No Event Found</div>
					</div>
				</span>
				
				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group">
							<!--<span id="sizing-addon1" class="input-group-addon"><i class="fa fa-download"></i></span>
							<button type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="redownload()">Re-Download</button>-->
							<span type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="redownload()"><i class="fa fa-download set-fa-icons"></i>Re-Download</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group">
							<!--<span id="sizing-addon1" class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
							<button type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="downloadevent()">Search & Download Event Data</button>-->
							<span type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="downloadevent()"><i class="fa fa-calendar-o set-fa-icons"></i>Search & Download Event Data</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group">
							<!--<span id="sizing-addon1" class="input-group-addon"><i class="fa fa-refresh"></i></span>
							<button type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="syncdata()">Synchronize Event Data</button>-->
							<span type="button" class="btn btn-primary btn-block form-control input-group-component" ng-click="syncdata()"><i class="fa fa-refresh set-fa-icons"></i>Synchronize Event Data</span>
						</div>
					</div>
				</div>



			</div>
			<!-- Modal Box -->
  			   <div ng-include="'views/download.html'"></div>
  			<!-- Modal Box -->
		</span>
		
		<div class="loader-div" ng-show="viewLoading">
				<img src="assets/img/loading.gif">
		</div>	
			
	</div>
</div>
