<div class="scrollable">
  	<div class="scrollable-content">
		
		<div class="registration">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-9">
                   <input type="text"  class="form-control inputs inputtext-radius" id="searchemail" name="searchemail" placeholder="Enter Email Address" ng-model="searchemail" >
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary  form-control search btn-radius" ng-click="search()"><i class="fa fa-search padding-right-11px"></i><font class="font-noremal">Search</font> </button>
                </div>
            </div>
        </div>
		
		<div class="clearfix">&nbsp;</div>
        
        <span class="col-xs-12" ng-show="searched">
           <span ng-show="!viewLoading">
            <span class="col-xs-12" ng-show="candidates.length != 0">
                <div class="well cards col-xs-12" ng-repeat="candidate in candidates">
                    <div class="col-xs-2">
                        <span ng-show="candidate.candidate_dirty == '0'" class="synced"><i class="fa fa-random "></i> Synced</span>
                        <span ng-show="candidate.candidate_dirty == '1'" class="pending"><i class="fa fa-retweet"></i> Pending </span><br><br>
                        <i class="fa fa-user user gray-text"></i>
                    </div>
					
                     <div class="col-xs-4">
                        <div class="name detail-pad">
							<a class="blue-text" ng-href ="#/candidate/{{candidate.id}}">
								{{candidate.candidate_firstname}} {{candidate.candidate_lastname}}
							</a>
						</div> 
						                   
                        <span ng-repeat="interest in $storage.areas_interest">
                            <div class="detail-pad" ng-show = "interest.AreasOfInterestId == candidate.candidate_area_interest">{{interest.AreasOfInterestDescription}}</div>
                        </span>
                        
                        <div ng-if="candidate.candidate_jobtitle" class="detail-pad">{{candidate.candidate_jobtitle}}</div>
                        <div ng-if="candidate.candidate_employername" class="detail-pad"> {{candidate.candidate_employername}}</div>
                    </div>
					
                    <div class="col-xs-4 ">
                        <div ng-if="candidate.candidate_mobileno" class="detail-pad"> <i class="fa fa-phone">&nbsp;&nbsp;</i> {{candidate.candidate_mobileno}} </div>
                        <div class="detail-pad"><i class="fa fa-envelope">&nbsp;&nbsp;</i> {{candidate.candidate_email}}</div>
                        <span ng-repeat="invitee in $storage.invitee_status">
                            <div id="status_{{candidate.id}}" ng-show = "invitee.InviteeStatusId == candidate.candidate_invitee_statusid" class="detail-pad"><i class="fa fa-check-square-o">&nbsp;&nbsp;</i>  {{invitee.InviteeStatusName}}</div>
                        </span>
                        <span ng-show="showerrormessage" class="detail-pad"><i class="fa fa-exclamation-triangle">&nbsp;&nbsp;</i> {{candidate.error_message}}</span>
                    </div>
                    
                    <div class="col-xs-2 no-padding">
						<i class="fa fa-check-square-o action green-text" ng-click="attendance(candidate.id,candidate.candidate_firstname,candidate.candidate_lastname)"></i>
                        <a ng-href="#/jointc/{{candidate.id}}" class="action"><i class="fa fa-edit blue-text" ></i></a>
                        <span ng-show="candidate.candidate_id == 0"><i class="fa fa-trash-o action"  ng-click="delete(candidate.id)"></i></span>
                        <span ng-show="candidate.candidate_id != 0"><i class="fa fa-trash-o action syncdelete red-text"></i></span>
                    </div>
                    
                </div>
            </span>
           
            
            <div class="col-xs-12 ">	
				<a href ="#/jointc/0" class="btn btn-success form-control btn-block padd-btn btn-radius"><i class="fa fa-user-plus set-fa-icons"></i><font class="search-font-size"> Register a New Candidate</font></a>
            </div>
            
            <div class="clearfix">&nbsp;&nbsp;</div>
            
          </span>
        
          <div class="loader-div" ng-show="viewLoading">
               <img src="assets/img/loading.gif">
          </div>
            
        </span>
	  </div>
        
    </div>
</div>
