body,
body {
    font-family: "Trebuchet MS",MinionPro-Regular,Helvetica,Arial,sans-serif!important;
}

html {
  font-size: 13px;
  color: #000;
  background-color: #000;
}
.bg-image {
  background-image:url(../img/line-01.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: 0 100%;
}

.bg-image-2 {
  background-image:url(../img/line-02.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: 0 100%;
}


.scrollable-content {
 padding: 15px 8px 0px 8px;
}

input,
input.ng-invalid,
textarea.ng-invalid,
.ng-dirty input.ng-invalid {
  border-color: #272727;
}
.inputerror {
 color: #C50000;
 padding-top: 5px;
}
.form-control {
  height: 40px;
}
.alert {
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
}
.input-group {
  padding-bottom: 10px;
  width:100%;
}
.modal-dialog {
  margin: 35px 111px;
}
.searchbutton {
  height: 45px;
  margin-left: 5px;
}
/*  Top Bar */
.top-fixed-bar {
  border-bottom-width: 0px !important;
}
.top-bar {
  background-color: #ffffff;
  border-bottom: 3px solid #939598;
  height: 112px;
}
.subheader {
  background-color: #fff;
  color: #000;
  float: left;
  height: 40px;
}
.has-navbar-top .app-body {
  padding-top: 160px;
}
.app,
.app-body {
  background-color: #fff;
}
.sub-title a {
  color: #0033a0;
  font-size: 34px;
  margin-left: 96%;
}
/*  Top Bar */
/* Home Page */
.home-page {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 52%;
}
/* Home Page Toggle Button */
.togglebtn {
  padding: 8px 25px;
}

.togglebtn-head {
 padding: 0px 14px !important;
 line-height: 36px !important;
}

.togglebtn {
  background-color:#fff;
  border-color: #dcddde;
  opacity: 1 !important;
  color: #adadad !important;
  opacity: 1 !important;
  color: #adadad !important;
}
.togglebtn .fa {
  color: #F8A25B !important;
  font-size: 20px;
}
.togglebtn.active {
  background-color: #00843d;
  border-radius: 0px !important;
  border-color: #00843d;
  color:#fff!important
}
.togglebtn.active .fa {
  color: #000000 !important;
}
.btn-group {
  border: 2px solid #00843d;
  border-radius: 2px;
}
.togglebtn:hover {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  color: #00843D!important;
}
.togglebtn.active:hover {
  background-color: #03622f;
  border-color: #03622f;
  color: #fff!important;
}
.togglebtn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.togglebtn.disabled,
.togglebtn[disabled],
fieldset[disabled] .togglebtn {
  background-color:#dcddde;
  border-color: #dcddde;
  opacity: 1 !important;
  color: #adadad !important;
}
.togglebtn.disabled .fa,
.togglebtn[disabled] .fa,
fieldset[disabled] .togglebtn .fa {
  color: #F8A25B !important;
}
.setup,
.event {
  font-weight: 700;
}
/* Home Page Toggle Button */
.home-page .btn-block {
  height: 50px;
  background-color: #0033a0 !important;
  border-color: #0033a0;
  width: 100%!important;
}
.home-page .btn-block.disabled,
.btn-block[disabled] {
  height: 50px;
  background-color:#99add9 !important;
  border-color:#99add9;
  color: #000;
  opacity: 1 !important;
}

.input-group.padding-bottom{
  padding-bottom:30px;
}



.home-page .btn-block i {
  color: #ffffff;
  font-size: 25px;
  padding-right: 5px;
}
.unlock-text {
  color: #ffffff;
  font-size: 20px;
}
.home-btn-group {
  padding-bottom:30px;
  text-align: center;
}
.home-btn-group span {
  font-size: 17px;
}
.home-page .input-group-addon {
  border: 0px;
  font-size: 28px;
  padding: 0 10px;
  color: #000;
}
.form-control:focus {
  border-color: #efefef ;
}
.home-page .btn-block:hover {
  background-color: #001f60 !important;
  border-color: #001f60;
}
.home-page .inputerror {
  margin-bottom: 10px;
}
.home-page .form-control {
  color: #000;
}
.home-page input.form-control,
.login-page input.form-control {
 border:1px solid #676a6e;
 border-radius:4px !important;
}
.home-page input.form-control:focus,
.login-page input.form-control:focus {
  border-right: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
  color: #000000;
}
.home-page .input-group-addon {
  border: 1px solid #000 !important;
  background-color: #000 !important;
  color: #fff;
}
.home-page .togglebtn.active .fa {
  color: #000000 !important;
}
/* Home Page */
/*Login Page  */
.login-page {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 50%;
}
.login-page .input-group-addon {
  border: 1px solid #000;
  color: #fff;
  font-size: 32px;
  padding: 0 10px;
  background-color: #000;
}
.changepin {
  background-color: #000;
}
.changepin i {
  color: #fff;
}
.login-page .btn-block {
  height: 50px;
  background-color: #0033a0 !important;
  border-color: #0033a0;
  color: #fff;
  opacity: 1 !important;
  font-size: 19px;
  border-radius: 4px !important
}
.login-page .pinformgroup {
  margin-top: 20px;
}
.login-page .loginbtn {
  width: 142px;
  float: right;
  color: #ffffff;
  background-color: #00843D;
  border-color: #00843D;
  font-size:16px;
  height: 50px;
}

.loginbtn:hover {
  color: #fff;
  background-color: #03622f!important;
  border-color: #03622f!important;
}



.login-page .remember {
  padding: 0 14px;
}
.login-page .inputerror {
  margin-bottom: 10px !important;
}
.modal-dialog {
  margin: 111px 280px;
}
.modal-dialog .form-group {
  padding: 10px 75px;
}
.recruiter-page {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 60%;
}
/*Login Page  */
/* Recruiters area*/
.text-center {
  text-align: center;
  color: #417BAD;
}
.event-detail {
  padding-left: 32% ;
  margin-bottom: 20px;
}
.event-detail p {
  margin-bottom: 20px;
  font-size: 15px;
}
.event-detail p span.title {
  color: #48C157;
  font-weight: 700 ;
  font-size: 15px;
  float: left;
  width: 100px;
}
.event-detail p span.event-desc {
  color: #676a6e;
}
.recruiter-page .input-group-addon {
  background-color: #0033a0;
  font-size: 19px;
  padding: 0 10px;
}
.recruiter-page .input-group-addon i {
  color: #fff;
}
.recruiter-page .btn-block {
  height: 50px;
  background-color: #0033a0 !important;
  /*	border-color: @basecolor; */
  color: #fff;
  font-size: 16px;
  border: 1px solid #0033a0;
  border-radius:4px!important;
}

    .recruiter-page .btn-block:hover {
    background-color:#002981!important;
    border: 1px solid #002981;
    }

.recruiter-page .input-group .form-control {
  float: none;
}
.recruiter-page .table {
  width: 60%;
  margin-left: 123px;
}
.recruiter-page .table td {
  color: #545860;
  font-size: 14px;
  /*width: 40%;*/
  background-color:#f4f4f4;
}
.recruiter-page .table .table-data {
  font-size: 15px;
}
.recruiter-page .table-bordered,
.recruiter-page .table-bordered > thead > tr > th,
.recruiter-page .table-bordered > tbody > tr > th,
.recruiter-page .table-bordered > tfoot > tr > th,
.recruiter-page .table-bordered > thead > tr > td,
.recruiter-page .table-bordered > tbody > tr > td,
.recruiter-page .table-bordered > tfoot > tr > td {
  border: 1px solid #8e8e8e !important;
}
.recruiter-page .table .event-title {
  /*font-weight: 700;*/
  text-align: center;
  font-size: 16px;
  background-color: #00a3e0;
  color: #fff;
  /*border-bottom: 1px solid #272727;*/
}

.set-fa-icons {
    float: left;
    font-size: 22px;
    margin: 1px 0px 0px 7px;
}


.table-caption {
  color: #676a6e;
  font-weight: 700;
}
/* Recruiters area*/
/* Home Event Mode*/
.event-home {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 60%;
}
.event-home .input-group .form-control {
  float: none;
}

   .event-home .btn-block {
    height: 50px;
    background-color: #0033a0 !important;
    /*	border-color: @basecolor; */
    color: #fff;
    font-size: 16px;
    border: 1px solid #0033a0;
    border-radius:4px!important;
}

   .event-home .btn-block:hover {
    background-color:#002981!important;
    border: 1px solid #002981;
    }


.event-home .input-group-addon {
  background-color: #000;
  font-size: 32px;
  padding: 0 10px;
}
.event-home .input-group-addon i {
  color: #fff;
  width: 40px;
}
/* Home Event Mode*/

.registration .search {
  float: right;
  color: #fff;
  background-color:#003da0;
  border-color:#003da0;
  font-size: 20px;
}

.registration .search:hover {
  background-color:#002981;
  border-color:#002981;
}
.registration .synced {
  color: #3BAF4A;
  font-size: 15px;
}
.registration i.user {
  font-size: 43px;
}
.registration .pending {
  color: #C91414;
  font-size: 15px;
}
.registration .detail-pad {
  padding-bottom: 10px;
  font-size: 15px;
  color: #676a6e;
}
.registration .name {
  color: #F8A25B;
  font-size: 17px;
}
.registration .name a {
  color: #000;
  text-decoration: none;
}
.registration .candidate-detail {
  border-right: 1px solid #676a6e;
}
.divider {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid #676a6e;
}
.action {
  font-size: 28px;
  padding: 10px;
}
.registration .btn-block {
    float: none;
    color: #fff;
    background-color: #0033a0;
    border-color: #0033a0;
    font-size: 20px;
    height:50px;
}

.registration .btn-block:hover {
    background-color:#002981;
    border-color:#002981;
   }

/* Registration */
/* Join TC*/
.join-title {
  padding-left: 15px;
}
.jointc .control-label {
  font-size: 16px;
}
.jointc .btnblock {
  color: #555;
  background-color: #F8A25B;
  border-color: #F8A25B;
}
/* Join TC*/
/* Events */
.table-content {
  font-size: 14px;
}
.pinform-group {
  padding: 0px !important;
}
.caution {
  color: #ff0000;
}
/* Events */
/* Logo */
.logo-position {
  margin: 17px -10px;
  float: right;
}
/* Logo */
.header-title {
  font-size: 25px;
  padding-top: 38px;
  color: #676a6e !important;
}
.header-title a {
  text-decoration: none;
  color: #F8A25B !important;
}
.header-title span {
  font-size: 25px;
}
.mode-pad {
    padding-top: 40px;
    font-size: 16px;
    padding-left: 53px;
}
.mode-pad .togglebtn {
    background-color: #ffffff;
    border-color: #dcddde;
    opacity: 1 !important;
    color: #888585 !important;
    text-transform: none;
}
.mode-pad .togglebtn.active:hover {
  background-color: #03622f!important;
  border-color: #03622f;
  color: #ffffff !important;
}
.mode-pad .togglebtn .fa {
  color: #F8A25B !important;
  font-size: 27px;
}
.mode-pad .togglebtn.active {
  background-color: #00843d;
  border-color: #00843d;
  color: #fff !important;
}
.togglebtn.active .fa {
  color: #000000 !important;
}
.mode-pad .togglebtn:hover {
  background-color: #c0c0c0!important;
  border-color: #c0c0c0!important;
  color: #000!important;
}
.mode-pad .togglebtn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mode-pad .setup,
.mode-pad .event {
  font-weight: 700;
  color: #fff;
  font-size: 18px;
}
.mode {
  color: #fff !important;
}
/* Loader */
.loader-div {
  height: 100px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.loader-div img {
  padding-top: 27%;
}
/* Loader */
.padd-btn {
  padding-top: 10px;
}
.no-event {
  font-weight: 700;
  color: #F8A25B;
  font-size: 16px;
  padding-bottom: 10px;
}
.loginmodes {
  color: #000;
}
.btn.disabled,
.btn[disabled] {
  opacity: 0.40;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: none;
}
.user-pad {
  padding: 4px;
}
.changepin-button {
  width: 100px;
}
.events-page.table th {
  text-align: left;
  font-size: 14px;
  background-color: #00a3e0;
  color: #fff;
  font-weight:normal;
}
.events-page.table > tbody > tr > td,
.events-page.table > tfoot > tr > td,
.events-page.table th {
  width: 25%;
  vertical-align: middle !important;
}
.events-page.table {
  border: 1px solid #cccccc;
  background-color:#ffffff;
}
.events-page.table > tbody > tr > td {
  font-size: 14px;
  border-color:#8e8e8e;
}
.btn-action {
  width: 100px;
  font-weight: 600 ;
}
.margin-header {
  margin-top: 10px;
}
#search,
#searchbar .input-group-addon {
  border-color: #676a6e;
  border-radius:4px!important;
}
#searchbar .input-group-addon {
  color: #676a6e;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color:#f3f3f3
}
#searchemail {
  border: 1px solid #676a6e;
}
.cards {
  background-color: #f3f3f3;
  -moz-box-shadow: 2px 4px 3px #F4F4F4;
  -webkit-box-shadow: 2px 4px 3px #F4F4F4;
  box-shadow: 2px 4px 3px #F4F4F4;
  margin-bottom: 13px;
}
.no-padding {
  padding: 31px 0 0 0;
}
a.action {
  color: #000;
}
.jointc .form-label {
  float: right ;
}
.jointc .txt-center {
  text-align: center;
}
.jointc .join-btn {
  width: 100px;
  font-weight: 600;
}
.jointc .form-control {
  border: 1px solid #676a6e;
}
.candidate-page .table-caption {
  width: 30%;
}
.candidate-detail-btn {
  background-color: #0033a0;
  border: #0033a0;
  width: 200px;
}
.candidate-detail-btn:hover {
  background-color: #F8A25B;
  border: #F8A25B;
}
.actions {
  padding-left: 88px;
}
.pin-control {
  display: table-cell;
}
.input-group .pin-control {
  float: left;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.pin-control {
  height: 50px;
  border-radius: 4px !important;
  border: 1px solid #808080 !important;
}
.inputs {
  color: #000000;
  padding-left: 16px;
  font-family: arial!important;
}
.modal-header {
  height: 50px;
  background-color: #00a3e0;
  color: #fff;
  padding: 12px;
  padding-top: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.navbar-app .btn.back {
  line-height: 20px !important;
  background-color: #002981;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
}
.navbar-app .btn.back:hover {
  color: #fff;
}
.registrationback {
  margin-left: 25px !important;
}
.syncdelete {
  color: #808080;
}
.input-group-addon {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border: 0px !important;
}

.btn-radius,
.inputtext-radius {
  border-radius: 4px !important;
}
.events-addon {
  border: 1px solid #676a6e!important;
}
.eventsearch-text {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.nopadding-right {
  padding-right:0px!important
}

.nopadding-left {
  padding-left:0px!important
}

.btn-blue {
    color: #fff;
    background-color:#0033a0;
    border-color:#0033a0;
}

.btn-blue:hover {
    color: #fff;
    background-color:#002981;
    border-color: #002981;
}


.btn-green {
    color: #fff;
    background-color: #00843d;
    border-color: #00843d;
}

.btn-green:hover {
    color: #fff;
    background-color: #03622f;
    border-color: #03622f;
}

.btn-red {
   background-color:#da3a22;
   border-color:#da3a22;
   color:#ffffff
}

.btn-red:hover {
   background-color:#BF2811;
   border-color:#BF2811;
   color:#ffffff
}

.search-button {
    color: #fff!important;
    height:40px!important;
    border-radius: 4px!important;
    background-color: #003da0!important;
    font-size: 27px!important;
    border-color: #003da0!important;
}

.search-button:hover {
    background-color: #002981!important;   
    border-color: #002981!important;
    cursor:pointer;
}

.padding-bottom {
    padding-bottom:40px;
}

.mg-bottom {
    margin-bottom:10px;
}

.padding-right-11px {
  padding-right: 11px;
}

.search-font-size {
    font-size:20px;
}

.search-height {
    height:40px!important;
}

.font-noremal {
    font-weight:normal;
}

.blue-text {
    color:#0033a0!important;
}

.gray-text {
   color:#adadad;
}

.green-text {
    color:#00843d;
}

.red-text {
   color:#da3a22;
}

.login-page .btn-block[disabled]{
	background-color : #99add9 !important;
	border-color: #99add9 !important;
	color: #fff;
    opacity: 1 !important;
}

.sub-title a.registration {
    color: #0033a0;
    font-size: 34px;
    margin-left: 93%;
}
