@basecolor: #F8A25B;
@headerheight : 120px;
@subheaderheight : 40px;
@errorcolor : rgb(255, 0, 0);
@modalmargin: 35px 111px;
@formcontrolheight : 50px;
@togglebtnactivecolor : #349C42;
@headerpadding : 30px;
@inputcolor : #272727;
@focuscolor : #000000;
@letterspacing : 2px;
@inputtextcolor : #000000;
@inputradius : 8px !important;

body,html{
     font-size: 13px;
     color : #000;
     background-color : #000;
}

.scrollable-content{ 
	padding:0px 10px 10px; 
	background: #ffffff;
}

input,input.ng-invalid, textarea.ng-invalid, .ng-dirty input.ng-invalid{
	border-color: #272727;
}
.inputerror{ color : @errorcolor;}
.form-control{ height: @formcontrolheight; }

.alert {
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}
.input-group {padding-bottom: 10px;}

.modal-dialog{margin: @modalmargin;}

.searchbutton{ height : 45px;margin-left : 5px;}


/*  Top Bar */
.top-fixed-bar {
	border-bottom-width: 0px !important;
}

.top-bar {
  background-color: #000;
  border-bottom: 7px solid @basecolor;
  height : @headerheight;
}

.subheader {
    background-color: #fff;
    color: #000;
    float: left;
    height: @subheaderheight;
}

.has-navbar-top .app-body {
    padding-top: @headerheight + @subheaderheight ;
}

.app, .app-body {
    background-color: #fff;
}

.sub-title {
	//padding-top : 6px;
}
.sub-title a {
	color : #272727;
	font-size : 34px;
	margin-left : 23px;
}
/*  Top Bar */

/* Home Page */
.home-page {
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	position: fixed;
	width:40%
}

/* Home Page Toggle Button */
.togglebtn {padding: 8px 25px;}
.togglebtn {
	background-color: @basecolor; 
	border-color: @basecolor;
}
.togglebtn .fa {
	color : @basecolor !important;
	font-size: 20px;
}
.togglebtn.active {
	background-color: #fff;
	border-color: #fff;
	border-radius : 7px !important;
}
.togglebtn.active .fa {color : #000000 !important;}
.btn-group { 
	border: 3px solid @basecolor; 
	border-radius: 10px;
	background-color : @basecolor;
}
.togglebtn:hover{
	background-color : @basecolor;
	border-color:@basecolor;
	color: @basecolor
}
.togglebtn.active:hover{
	background-color : #fff;
	border-color: #fff;
	color: #000000
}

.togglebtn {
   
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.togglebtn.disabled, .togglebtn[disabled], fieldset[disabled] .togglebtn {
    background-color: @basecolor; 
    border-color: @basecolor;
    opacity : 1 !important
}
.togglebtn.disabled .fa, .togglebtn[disabled] .fa, fieldset[disabled] .togglebtn .fa {
	color : @basecolor !important;
}
.setup,.event{font-weight : 700;}
/* Home Page Toggle Button */

.home-page .btn-block {
	height:50px;
	background-color:@basecolor !important;
	border-color: @basecolor;
	width:155px!important;
}
.home-page .btn-block.disabled,.btn-block[disabled] {
	height:50px;
	background-color:@basecolor !important;
	border-color: @basecolor;
	color : #000;
	opacity : 0.80 !important;
}
.home-page .btn-block i {
	color : #ffffff; 
	font-size:25px;
	padding-right : 5px;
}
.unlock-text { 
	color : #ffffff;
	font-size:20px;
}
.home-btn-group{
	margin-bottom:15px;
	text-align:center;
}
.home-btn-group span {font-size:17px;}
.home-page .input-group-addon {
	border: 0px;
    font-size: 28px;
    padding: 0 10px;
	color : #000;
	
}
.form-control:focus {border-color:#efefef ;}

.home-page .btn-block:hover {
	background-color:@basecolor !important;
	border-color: @basecolor;
}
.home-page .inputerror {
	margin-bottom: 10px;
}

.home-page .form-control {
	color : #000;
}

.home-page input.form-control , .login-page input.form-control {
	border 		  : none !important;
	border-right  : 1px solid @focuscolor !important;
	border-top    : 1px solid @focuscolor !important;
	border-bottom : 1px solid @focuscolor !important;
}

.home-page input.form-control:focus , .login-page input.form-control:focus {
	border 		  : none !important;
	border-right  :  1px solid @focuscolor !important;
	border-top    :  1px solid @focuscolor !important;
	border-bottom :  1px solid @focuscolor !important;
	color         : @focuscolor;
}

.home-page .input-group-addon { 
	border : 1px solid #000 !important;
	background-color : #000 !important;
	color : #fff;
}

.home-page .togglebtn.active .fa {color : #000000 !important;}

/* Home Page */

/*Login Page  */
.login-page{
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	position: fixed;
	width:50%
}

.login-page .input-group-addon {
    border: 1px solid #000;
    color : #fff;
    font-size: 32px;
    padding: 0 10px;
    background-color : #000;
}

.changepin { background-color : #000;}
.changepin i { color : #fff;}

.login-page .btn-block {
	height:50px;
	background-color:@basecolor !important;
	border-color: @basecolor;
	color : #000;
	font-weight:700;
	font-size:19px;
}
.login-page .pinformgroup{ margin-top : 20px; }
.login-page .loginbtn { 
	width : 204px; 
	float: right; 
	color: #ffffff; 
	background-color : @basecolor;
	border-color: @basecolor;
	font-size : 20px;
	height : 40px;
}
.login-page .remember { padding : 0 14px; }
.login-page .inputerror {
	margin-bottom: 10px !important;
}

.modal-dialog {
    margin: 111px 280px;
}

.modal-dialog .form-group {
	padding: 10px 75px;
}

.recruiter-page {
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	position: fixed;
	width:60%
}

/*Login Page  */

/* Recruiters area*/
.text-center{ text-align : center;color : #417BAD; }
.event-detail {padding-left: 32% ;margin-bottom: 20px; }
.event-detail p {margin-bottom: 20px; font-size:15px;}

.event-detail p span.title {
	color : #48C157; 
	font-weight: 700 ; 
	font-size: 15px;
	float:left;
	width : 100px;
}
.event-detail p span.event-desc {
	color : #272727;
}

.recruiter-page .input-group-addon {
   background-color: #000;
    font-size: 29px;
    padding: 0 10px;
}

.recruiter-page .input-group-addon i {color : #fff;}
.recruiter-page .btn-block {
	height:50px;
	background-color:@basecolor !important;
/*	border-color: @basecolor; */
	color:#000;
	font-size : 16px;
	font-weight : 700;
	border: 1px solid @basecolor;
}
.recruiter-page .input-group .form-control {
    float: none;
}

.recruiter-page .table {
	width: 60%;
	margin-left : 123px;
}

.recruiter-page .table td {
    color: #000;
	font-size:13px;
	width : 40%;
}


.recruiter-page .table .table-data {
	font-size : 15px;
} 

.recruiter-page .table-bordered, .recruiter-page .table-bordered > thead > tr > th, .recruiter-page .table-bordered > tbody > tr > th,.recruiter-page .table-bordered > tfoot > tr > th, .recruiter-page .table-bordered > thead > tr > td,.recruiter-page  .table-bordered > tbody > tr > td, .recruiter-page .table-bordered > tfoot > tr > td {
		border : 1px solid #272727 !important;
}

.recruiter-page .table .event-title{
	font-weight : 700;
	text-align:center;
	font-size : 18px;
	background-color: @basecolor;
	color: #fff;
	border-bottom: 1px solid #272727;
}

.table-caption {
	text-align : right;
	color : #272727;
	font-weight : 700;
}
/* Recruiters area*/

/* Home Event Mode*/
.event-home {
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	position: fixed;
	width:60%
}

.event-home .input-group .form-control {
    float: none;
}

.event-home .btn-block {
	height:50px;
	background-color:@basecolor !important;
	border-color: @basecolor;
	color:#000;
	font-size : 16px;
	font-weight : 700;
}
.event-home .input-group-addon {
   background-color: #000;
    font-size: 32px;
    padding: 0 10px;
}

.event-home .input-group-addon i {color : #fff;width: 40px;}
/* Home Event Mode*/

.registration .search{
	float: right; 
	color: #555; 
	background-color : @basecolor;
	border-color: @basecolor;
	font-size : 20px;
}

.registration .synced {
	color : #3BAF4A;
	font-size:15px;
}
.registration i.user{
	font-size: 43px;
}

.registration .pending {
	color : #C91414;
	font-size:15px;
}
.registration .detail-pad {
	padding-bottom : 10px;
	font-size: 15px;
	color : #000;
}

.registration .name {
	color : @basecolor;
	font-size:17px;
}

.registration .name a{
  color: #000;
  text-decoration: none;
}

.registration .candidate-detail{
	border-right: 1px solid #272727;
}

.divider{ 
	position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid #272727;
}

.action {
	font-size:27px;
	padding: 10px;
}

.registration .btn-block{
	float: none; 
	color: #fff; 
	background-color : @basecolor;
	border-color: @basecolor;
	font-size : 20px;
	font-weight : 700;
}

/* Registration */

/* Join TC*/
.join-title {
	padding-left:15px;
}

.jointc .control-label{
	font-size : 16px;
}

.jointc .btnblock{
	color : #555;
	background-color: @basecolor;
	border-color: @basecolor;
}
/* Join TC*/

/* Events */
.table-content {
	font-size : 14px;
}

.pinform-group {
  padding: 0px !important;
}
.caution{
	color : #ff0000;
}
/* Events */

/* Logo */
.logo-position {
	margin-top: 10px;
	float: right;
}
/* Logo */


.header-title {
	font-size:40px;
	padding-top: @headerpadding;
	color : @basecolor !important;
}

.header-title a {
	text-decoration : none;
	color : @basecolor !important;
}

.header-title span {
	font-size : 35px;
}
.mode-pad {
	padding-top : @headerpadding;
	font-size: 16px;
}

.mode-pad .togglebtn {
	background-color : @basecolor;
	border-color:@basecolor;
	color: @basecolor
}

.mode-pad .togglebtn.active:hover {
  background-color: #fff !important;
  border-color: #f8a25b;
  color: #ffffff;
}

.mode-pad .togglebtn .fa {
	color : @basecolor !important;
	font-size : 27px;
}

.mode-pad .togglebtn.active {
	background-color: #fff;
	border-color: #fff;
	font-size : 23px;
}
.togglebtn.active .fa {color : #000000 !important;}

.mode-pad .togglebtn:hover{
	background-color : @basecolor;
	border-color:@basecolor;
	color: @basecolor
}

.mode-pad .togglebtn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mode-pad .setup,.mode-pad .event{font-weight : 700; color : #fff;font-size : 18px;}
.mode {color : #fff !important;}

/* Loader */
.loader-div {
	height: 100px;
	width: 120px;
	background-color: rgba(0,0,0,.74);
	border-radius: 15px;
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	text-align : center;
}

.loader-div img {
	padding-top:27%;
}
/* Loader */

.padd-btn {
	padding-top : 10px;
}

.no-event {
	font-weight : 700;
	color : @basecolor;
	font-size : 16px;
	padding-bottom: 10px;
}

.loginmodes {color : #000;}

.btn.disabled ,.btn[disabled]{ 
	opacity : 0.75;
}

.btn-group>.btn:last-child:not(:first-child) , .btn-group>.dropdown-toggle:not(:first-child) { 
	border-bottom-left-radius: none; 
}

.user-pad { padding : 4px; }
.changepin-button { width  :100px;}

.events-page.table th{
	font-weight : 700;
	text-align:left;
	font-size : 18px;
	background-color: @basecolor;
	color: #fff;
	border-bottom: 2px solid #272727;
}

.events-page.table>tbody>tr>td, .events-page.table>tfoot>tr>td,.events-page.table th {
  
  width : 25%;
  vertical-align: middle !important;
}

.events-page.table {
	border : 2px solid #272727;
}
.events-page.table>tbody>tr>td {color : #000; font-size: 15px;}

.btn-action {width : 100px; font-weight : 600 ;}

.margin-header {margin-top : 10px;}

#search , #searchbar .input-group-addon { border- color : #272727;}
#searchbar .input-group-addon {color : #272727;}

.table-striped>tbody>tr:nth-child(odd) { bcakground-color : #f3f3f3 }
#searchemail { border: 1px solid #272727; }
.cards{ 
	background-color : #f3f3f3;
    -moz-box-shadow: 3px 3px 4px #232323;
    -webkit-box-shadow: 3px 3px 4px #232323;
    box-shadow: 3px 3px 4px #232323;
	margin-bottom: 13px;
}
.no-padding {
	padding-left : 0px;
	padding-right : 0px;
}

a.action {color : #000;}

.jointc .form-label{ float : right ; }
.jointc .txt-center {text-align : center;}
.jointc .join-btn { width : 100px;font-weight : 600;}
.jointc .form-control {border : 1px solid #272727;}
.candidate-page .table-caption {width : 30%}
.candidate-detail-btn {background-color : @basecolor;  border : @basecolor ; width :200px;}
.candidate-detail-btn:hover {background-color : @basecolor;  border : @basecolor;}
.actions {padding-left :88px;}

.pin-control {display : table-cell ;}
.input-group .pin-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.pin-control {
    height : 50px;
    border-radius: 0px !important;
    border-top: none !important;
    border-right : 2px solid #808080 !important;
    border-top : 1px solid #808080 !important;
    border-bottom : 1px solid #808080 !important;
 
}

.inputs {
	letter-spacing : @letterspacing;
	color : @inputtextcolor;
}

.modal-header {
  height: 50px;
  background-color: #;
  background-color: #F8A25B;
  color: #fff;
  padding: 12px;
  padding-top: 5px;
}

.navbar-app .btn.back{
	line-height : 20px !important;
	background-color : @basecolor;
	color : #fff;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:10px;
	margin-top : 10px;
	font-size : 13px;
}

.navbar-app .btn.back:hover { color : #fff;}
.registrationback {
	margin-left: 25px !important;
}

.syncdelete {
	color : #808080;
}

.input-group-addon {
  border-top-left-radius: @inputradius;
  border-bottom-left-radius: @inputradius;
  border: 0px !important;
}

.input-group-component{
  border-top-right-radius: @inputradius;
  border-bottom-right-radius: @inputradius;
}

.btn-radius , .inputtext-radius {
	border-radius :  @inputradius;
}

.events-addon {
	border-top-left-radius: 0px  !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius:@inputradius;
    border-bottom-right-radius: @inputradius;
    border-right: 1px solid #272727 !important;
    border-top: 1px solid #272727 !important;
    border-bottom: 1px solid #272727 !important;
}

.eventsearch-text {
	border-top-left-radius: @inputradius;
	border-bottom-left-radius: @inputradius;
}

